.quiz_header{
    height:10%;
    width:100%;
    background-color: #43609C;
    display:flex;
    justify-content: space-between;
    align-items: center;
}
.main_btn_quiz_container{
    height:fit-content;
    width:fit-content;
}

.header_logo{
    width: 10%;
}

.main_btn_quiz{
    width:150px;
    height:fit-content;
    font-size:20px;
    color:white;
    background-color: green;
}