
.Login_title{
    color:white;
    margin-top:0;
}
.Login_container{
    width:100%;
    height:90%;
    background-color:green;
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

.row{
    justify-content: space-evenly;
}

.Login_lbl{
    color:white;
    width:25%;
    margin-right:2px;
    margin-top:5px;
    margin-bottom:5px;
}
.form-control{
    margin-top:10px;
    margin-bottom:10px;
}
.Login_submit_btn{
    color:white;
    background-color: green;
    width:100%;
    height:30px;
}
/* login form CSS */
.form-inner{
    display :flex;
    justify-content: left;
    flex-direction: column;
}

.title-text{
    color:white;
    text-align: center;
}

.Login_form{
    background-color: #43609C;
    margin: 20px;
    padding: 50px;
}